// Colors //

	$text-color:			#111;
	$text-color-lt:			#505050;
	
	$link-color:			#1899CB;  
	$link-color-hover:		lighten($link-color, 20);
	
	$border-lt:				#d7d7d7;
	$border-dark:			#555;
	
	$bg-lt:					#f3f3f3;
	$bg-lt-hover:			darken($bg-lt, 7);
	$bg-dark:				rgba(23,25,25,.92);

	$highlight:				#5b9cb3;
	

// Typography //
	$font-display:			'proxima-nova-soft','Helvetica Neue', Arial, sans-serif;
	$font-body:				'proxima-nova-soft','Helvetica Neue', Arial, sans-serif;  
 
	
// Grid & Structure //
	$vert-rhythm:			15px 0;
	$leading:				150%;
	$content-width:			1280px;
	$footer-sticky:			55px;
	
	$onecol:				4.85%;
	$twocol:				13.45%;
	$threecol:				22.05%;
	$fourcol: 				28.75%;
	$fivecol:				39.45%;
	$sixcol:				48%;
	$sevencol:				56.75%;
	$eightcol:				65.4%;
	$ninecol: 				74.05%;
	$tencol: 				82.7%;
	$elevencol:				91.35%;
	$twelvecol:				auto;	
	
	
// Navigation //
	$submenu-width:			13em;
	$submenu-margin:		2.5em;